body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    background-image: url(../IMG/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;  /* Cambiado de relative a absolute */
}

#cabecera {
    position: fixed;
    
    left: 42%;
    
}
.h1header{
    font-family: Gayoland, system-ui;
    color: rgb(211, 211, 211);
    text-shadow: 3cap;
    position: relative;
    right: 100px;
    width: 100%;
    font-size: 70px;
    
   
}
#pheader {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(243, 243, 243);
    text-shadow: 3px 4px 2px rgb(230, 167, 255);
    float: left;
    position: relative;
    right: 130px;
    bottom: 50px;
    
}

#pheader2 {
    font-family: fantasy;
    color: rgb(243, 243, 243);
    text-shadow: 3cap;
    float: left;
    position: absolute;
    left: 180px;
    bottom: 47px;
    
}

.formulario {
    width: 70%;
    margin: 150px ;  /* Ajustado el margen superior */
    padding: 50px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;  /* Añadido position: relative; */
    z-index: 2;  /* Añadido z-index para asegurar que el formulario esté sobre el fondo */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.total2 {
 width: 30%;
 background-color: #4CAF50;
}